---
layout: home
---

<header data-midnight="brand-theme" class="brand-theme section">
    <div class="header-overlay"></div>
    <div class="container">
        <h1>Baptiste LECOCQ</h1>

        <p class="headline">
            J'aide les personnes et équipes à définir et répondre à <strong class="emphase">leurs besoins</strong>.
            J'y parviens en travaillant pour et avec ces personnes en mettant en place un environnement favorisant <b
            class="emphase">les échanges</b> et <strong class="emphase">l'excellence technique</strong>.
        </p>

        <p class="headline">Je considère réussir cette mission en suivant des indicateurs liés à la <strong class="emphase">satisfaction
            client</strong>
            et la <strong class="emphase">qualité logicielle</strong>.</p>

        {% include social.html %}
    </div>
</header>

<div class="section light-theme">
    <div class="container">
        <h1>Mes<br>compétences</h1>

        <div class="columns">
            <div class="column">
                <p>Mon expérience dans le monde du web dans des missions très diverses, m'a convaincu que la <b
                    class="emphase">fluidité de la
                    communication</b> et qu'un code bien designé sont des clés nécessaires dans la réussite d’un projet.
                </p>
            </div>
            <div class="column"></div>
        </div>

        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <p>Je maîtrise principalement les langages et frameworks du monde Javascript.
                    Je suis également impliqué dans un certain nombre de méthodes liées à l’<b
                        class="emphase">agilité</b> et au <strong class="emphase">software
                        craftsmanship</strong> pour faire grandir les équipes que j’accompagne.</p>
            </div>
        </div>
    </div>
</div>

<div data-midnight="brand-theme" class="brand-theme section">
    <div class="container">
        <h1>Mon<br>parcours</h1>

        {% capture resume %}
        {% include cv.md %}
        {% endcapture %}
        {{ resume | markdownify }}
    </div>
</div>
