body
  background-color: #F9F9F9
  overflow-x: hidden

::selection, *::-moz-selection
  background: #f6223f
  color: #FEFEFE

img
  width: 100%

pre
  margin-bottom: 0
  border: 0

.margin-top-huge
  margin-top: 150px

.margin-top-large
  margin-top: 85px

.margin-bottom-huge
  margin-bottom: 150px

.margin
  margin: 15px

.hr
  height: 10px
  box-shadow: 0 10px 0 rgba(0,0,0,0.05)

.lead-letter
  color: #1abc9c
  font-size: 3em

.blink
  @include animation(blink 1.3s linear infinite)

@include keyframes(blink)
  from
    opacity: 1

  to
    opacity: 0

.matrix
  background: black !important
  color: #00CC00
  font-family: Courier, "Courier New", FreeMono

  .m-banner--mac
    display: none

.border-gray
  border-bottom: 1px solid #e7e7e7
  border-top: 1px solid #e7e7e7
  padding-bottom: 30px
  padding-top: 30px

section
  min-height: 480px
  padding: 40px 0px

.navbar
  box-shadow: 0 10px 0 rgba(0,0,0,0.05)
  position: relative
  border-radius: 0
  text-transform: uppercase

.to_top
  opacity: .7
  z-index: 30

  i
    padding: 20px !important

.up
  position: relative
  @include transition(margin-top 0.3s)

  &:hover
    margin-top: -6px

.m-ribbon
  position: fixed
  z-index: 30

.m-ribbon--awwwards
  top: 100px

.m-ribbon--opl
  top: 250px


/**
 * Home
 */

.m-banner--mac
  top: 55px
  right: -55px
  width: auto

.typewriter-caret
  background: #777

.typewriter
  font-size: 2.3em
  font-weight: bold
  position: relative
  line-height: 50px

.logo-type
  display: block
  float: left
  height: 0
  overflow: hidden
  text-transform: none
