/**
 * Projects
 */

.m-project {
  float: left;
  overflow: hidden;
  position: relative;
  width: 33.3333%;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
}

.m-project img {
  width: 100%;
}

.m-project--overlay {
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 200;
  transition: opacity .7s ease 0s;
  -webkit-transition: opacity .7s ease 0s;
  -moz-transition: opacity .7s ease 0s;
  -o-transition: opacity .7s ease 0s;
}

.m-project--info {
  height: 100%;
  left: 0;
  opacity: 0;
  padding-top: 20%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
}

.m-project--info p {
  color: #FEFEFE;
  font-size: 2.4em;
}

.m-project:hover .m-project--overlay {
  opacity: .1;
}

.m-project:hover .m-project--info {
  opacity: 1;
}
