/**
 * General
 */

body {
  background-color: #F9F9F9;
  overflow-x: hidden;
}

::selection, *::-moz-selection {
  background: #00aeef;
  color: white;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.center {
  margin: auto;
}

.right {
  float: right !important;
}

.margin-top-huge {
  margin-top: 170px;
}

.margin-top-large {
  margin-top: 85px;
}

.margin-top {
  margin-top: 15px !important;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin {
  margin: 15px;
}

.padding {
  padding: 15px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.pos-absolute {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.hr {
  height: 10px;
  box-shadow: 0 10px 0 rgba(0,0,0,0.05);
}

.cover {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.round {
  border-radius: 50%;
}

.big {
  color: #1abc9c;
  font-size: 3em;
}

.blink {
  -webkit-animation: blink 1.3s linear infinite;
}

@-webkit-keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}


/**
 * Colors
 */

.red {
  background-color: #e74c3c;
  color: #FEFEFE;
}

.blue {
  background-color: #3498db;
  color: #FEFEFE;
}

.yellow {
  background-color: #f1c40f;
  color: #FEFEFE;
}

.green {
  background-color: #1abc9c;
  color: #FEFEFE;
}

.dark-gray {
  background-color: #1A1A1A;
  color: #333333;
}

.light-gray {
  background-color: #ecf0f1;
}

.white {
  background-color: #fdfdfd;
}

.black {
  background-color: black;
  color: #a7a8a3;
}

.matrix {
  background: black !important;
  color: #00CC00;
  font-family: Courier, "Courier New", FreeMono;
}

.matrix .m-banner--cup, .matrix .m-banner--mac {
  display: none;
}

.border-gray {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  padding-bottom: 30px;
  padding-top: 30px;
}


/**
 * Main
 */

section {
  min-height: 400px;
  padding: 40px 0px;
}

.container-fluid:first-child {
  padding: 0;
}

.navbar {
  box-shadow: 0 10px 0 rgba(0,0,0,0.05);
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 500;
}


/**
 * Layout / Home
 */

.l-home {
  padding-top: 140px !important;
}

.m-banner--cup {
  top: 317px;
  right: 580px;
}

.m-banner--mac {
  top: 100px;
  right: -55px;
}

.typewriter-caret {
    background: #777;
}

.typewriter {
  font-size: 2.3em;
  font-weight: bold;
  position: relative;
}

.logo-type {
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  text-transform: none;
}


/**
 * About
 */

.brand {
  height: 280px;
  width: 280px;
}

.brand img {
  width: 100%;
}

.m-list {
  margin-top: 70px;
}

.m-list [class*="fui"] {
  color: #1abc9c;
}

.m-list ul {
  list-style-type: none;
}

.m-list li {
  line-height: 1.5em;
}


/**
 * Code
 */

.m-code {
  position: relative;
}

.m-code, .m-code pre {
  border-radius: 7px;
}

.m-code--overlay {
  background: #e74c3c url(/images/rails.png) center center no-repeat;
  border-radius: 7px;
  color: #FEFEFE;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
}

.m-code:hover .m-code--overlay {
  opacity: 1;
  -webkit-transform: translate(15px, 15px);
}


/**
 * Footer
 */

footer {
  padding-top: 60px;
}

footer a {
  font-size: 4em;
  line-height: .5em;
  color: #636363;
  display: block;
  margin-bottom: 1em;
}

footer span {
  font-size: .2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}


/**
 * Responsive
 */

@media (max-width: 979px) {
  .m-project {
    width: 100%;
  }

  .l-about {
    padding-top: 80px;
  }
}


/**
 * Syntax highlighting
 */

.highlight {
  background-color: #fdfdfd;
  border-radius: 7px;
  margin-top: 40px;
}
.c { color: #8e908c } /* Comment */
.err { color: #c82829 } /* Error */
.k { color: #8959a8 } /* Keyword */
.l { color: #f5871f } /* Literal */
.n { color: #4d4d4c } /* Name */
.o { color: #3e999f } /* Operator */
.p { color: #4d4d4c } /* Punctuation */
.cm { color: #8e908c } /* Comment.Multiline */
.cp { color: #8e908c } /* Comment.Preproc */
.c1 { color: #8e908c } /* Comment.Single */
.cs { color: #8e908c } /* Comment.Special */
.gd { color: #c82829 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gh { color: #4d4d4c; font-weight: bold } /* Generic.Heading */
.gi { color: #718c00 } /* Generic.Inserted */
.gp { color: #8e908c; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #3e999f; font-weight: bold } /* Generic.Subheading */
.kc { color: #8959a8 } /* Keyword.Constant */
.kd { color: #8959a8 } /* Keyword.Declaration */
.kn { color: #3e999f } /* Keyword.Namespace */
.kp { color: #8959a8 } /* Keyword.Pseudo */
.kr { color: #8959a8 } /* Keyword.Reserved */
.kt { color: #eab700 } /* Keyword.Type */
.ld { color: #718c00 } /* Literal.Date */
.m { color: #f5871f } /* Literal.Number */
.s { color: #718c00 } /* Literal.String */
.na { color: #4271ae } /* Name.Attribute */
.nb { color: #4d4d4c } /* Name.Builtin */
.nc { color: #eab700 } /* Name.Class */
.no { color: #c82829 } /* Name.Constant */
.nd { color: #3e999f } /* Name.Decorator */
.ni { color: #4d4d4c } /* Name.Entity */
.ne { color: #c82829 } /* Name.Exception */
.nf { color: #4271ae } /* Name.Function */
.nl { color: #4d4d4c } /* Name.Label */
.nn { color: #eab700 } /* Name.Namespace */
.nx { color: #4271ae } /* Name.Other */
.py { color: #4d4d4c } /* Name.Property */
.nt { color: #3e999f } /* Name.Tag */
.nv { color: #c82829 } /* Name.Variable */
.ow { color: #3e999f } /* Operator.Word */
.w { color: #4d4d4c } /* Text.Whitespace */
.mf { color: #f5871f } /* Literal.Number.Float */
.mh { color: #f5871f } /* Literal.Number.Hex */
.mi { color: #f5871f } /* Literal.Number.Integer */
.mo { color: #f5871f } /* Literal.Number.Oct */
.sb { color: #718c00 } /* Literal.String.Backtick */
.sc { color: #4d4d4c } /* Literal.String.Char */
.sd { color: #8e908c } /* Literal.String.Doc */
.s2 { color: #718c00 } /* Literal.String.Double */
.se { color: #f5871f } /* Literal.String.Escape */
.sh { color: #718c00 } /* Literal.String.Heredoc */
.si { color: #f5871f } /* Literal.String.Interpol */
.sx { color: #718c00 } /* Literal.String.Other */
.sr { color: #718c00 } /* Literal.String.Regex */
.s1 { color: #718c00 } /* Literal.String.Single */
.ss { color: #718c00 } /* Literal.String.Symbol */
.bp { color: #4d4d4c } /* Name.Builtin.Pseudo */
.vc { color: #c82829 } /* Name.Variable.Class */
.vg { color: #c82829 } /* Name.Variable.Global */
.vi { color: #c82829 } /* Name.Variable.Instance */
.il { color: #f5871f } /* Literal.Number.Integer.Long */
