<header>
    <div class="container">
        <h1>Baptiste<br>Lecocq</h1>

        <p>
            J'aide les personnes et équipes à définir et répondre à leurs besoins.
            J'y parviens en travaillant pour et avec ces personnes en mettant en place un environnement favorisant les échanges et l'excellence technique.
            Je considère réussir cette mission en suivant des indicateurs liés à la satisfaction client et la qualité logicielle.
        </p>

        <img src="https://static.tiste.io/me.jpg" alt="Profil">
    </div>
</header>
