<ul class="social-media-list">
    <li class="no-print"><a class="button" href="https://twitter.com/{{ site.twitter.username | cgi_escape | escape }}"><span class="icon-twitter"></span>
        {{ site.twitter.username | escape }}</a></li>

    <li class="no-print"><a class="button" href="https://github.com/{{ site.github_username | cgi_escape | escape }}"><span class="icon-github"></span> {{
        site.github_username | escape }}</a></li>

    <li class="no-screen"><a class="button" href="tel:{{ site.tel | escape }}"><span class="icon-phone"></span> {{ site.tel | escape }}</a></li>

    <li><a class="button" href="mailto:{{ site.email | escape }}"><span class="icon-envelop"></span> Contactez-moi</a></li>
</ul>
