@media screen {
    .no-screen, .no-screen * {
        display: none !important;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
}

body {
    background-color: $background-color;
    font: #{$base-font-size} $base-font-family;
    color: $text-color;
    margin: 0;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font-family;
    line-height: 1.5;
    letter-spacing: -.004em;
}

h1 {
    @include golden-typo(7.2rem);
}

p {
    @include golden-typo(1.72rem);
    margin-bottom: 1rem;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

.offline {
}
