html {
    height: 100%;
}

body {
    background-color: $background-color;
    min-height: 100%;
    font: #{$base-font-size} $base-font-family;
    color: $text-color;
}

canvas {
    opacity: 0.5;
    position: absolute;
}

.content {
    a {
        color: darken($text-color, 20%) !important;
        font-weight: bold;
        border-bottom: 3px solid $brand-color !important;

        &:hover {
            text-decoration: none;
            border-bottom: none !important;
        }
    }
}

.home {
    position: relative;
    z-index: 1;

    .hero {
        padding-top: 8rem;
    }
}

.resume {
    ul {
        list-style: none;
        margin: 0;
    }

    li {
        margin-top: 5rem !important;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: -15px;
            width: 50px;
            height: 6px;
            background-color: $brand-color;
        }
    }
}

.projects {
    li {
        list-style: square;
        color: $brand-color;
    }

    li + li {
        margin-top: 1em;
    }
}

@keyframes scroll-down {
    0% {
        opacity: 1;
        top: 29%;
    }

    15% {
        opacity: 1;
        top: 50%;
    }

    50% {
        opacity: 0;
        top: 50%;
    }

    100% {
        opacity: 0;
        top: 29%;
    }
}

.mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px;

    > * {
        position: absolute;
        display: block;
        top: 29%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        background: white;
        border-radius: 50%;
        animation: scroll-down 2.5s linear infinite;
    }
}
