header {
    h1 {
        float: left;
        width: 20%;
    }

    p {
        float: right;
        width: 70%;
    }

    .container:after {
        content: " ";
        clear: both;
        display: table;
    }

    img {
        width: 500px;
        position: absolute;
        margin-left: -500px;
        display: inline-block;
        z-index: -1;
    }
}
