header {
    background-image: url("images/header.jpeg");
    background-size: cover;
    background-position: 100% 75%;

    .header-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(90deg, rgba($brand, 90%) 20%, rgba($brand, 60%));
    }

    h1 {
        position: initial !important;
        margin-top: initial !important;
        margin-bottom: 1.5rem;
    }

    h2 {
        @include golden-typo(1.7rem);
        margin-bottom: 4rem;

        span {
            white-space: nowrap;
        }
    }

    .container {
        position: relative;
    }

    .container:after {
        content: " ";
        clear: both;
        display: table;
    }
}

nav {
    z-index: 10;
    position: fixed;
}

.nav {
    font-family: $title-font-family;
    padding: 3rem;
    font-weight: bold;

    .logo {
        float: left;
        width: 218px;
        height: 50px;
        background-size: cover;
    }
}

.midnightHeader {
    background-color: transparent !important;
}
