@media screen {
    .no-screen, .no-screen * {
        display: none !important;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
}

body {
    font: #{$base-font-size} $base-font-family;
    margin: 0;
    text-align: justify;

    @extend .light-theme;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font-family;
    line-height: 1.5;
}

h1 {
    @include golden-typo(7.2rem);
}

h4 {
    @include golden-typo(2rem);
}

p {
    @include golden-typo(1.7rem);
}

.headline {
    @include golden-typo(2.3rem);
    font-weight: bold;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

.columns {
    display: flex;

    .column {
        flex: 1;
        padding: 1rem;
    }
}

.section {
    padding: 20vh;
    position: relative;

    h1:first-child {
        top: 0;
        position: absolute;
        line-height: 7rem;
        margin-top: -6rem;
    }
}

.resume {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        margin-top: 5rem;
        position: relative;
        width: 50%;
        padding-top: 2rem;
        padding-bottom: 2rem;

        &:nth-child(even) {
            padding-left: 2rem;
        }

        &:nth-child(odd) {
            padding-right: 2rem;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: -15px;
            width: 50px;
            height: 6px;
            background-color: $background;
        }
    }
}

.emphase {
    color: $emphase;
    background-color: $brand;
}

.brand-theme {
    background-color: $brand;

    .nav, a {
        color: lighten($brand, 40%);
    }

    .nav > *:first-child {
        background-image: url("images/logo-full-white.png");
    }
}

.light-theme {
    background-color: $background;

    .nav, a {
        color: $dark-text;
    }

    .nav > *:first-child {
        background-image: url("images/logo-full.png");
    }
}

.button {
    padding: 1.5rem 2.5rem;
    border-radius: 2px;
    background-color: #FFF;
    box-shadow: -6px 6px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: $dark-text !important;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;

    &:hover {
        box-shadow: -8px 8px 0 0 rgba(0, 0, 0, 0.1);
        opacity: 1;
        -webkit-transform: translate(2px, -2px) perspective(0px);
        transform: translate(2px, -2px) perspective(0px);
    }

    &:active {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
        opacity: 0.7;
        -webkit-transform: translate(-6px, 6px) !important;
        transform: translate(-6px, 6px) !important;
    }
}

.fixed {
    position: fixed;
}

.offline {
}
