@media (max-width: 600px) {
    h1 {
        @include golden-typo(5rem);
        width: 100%;
    }

    .columns {
        flex-direction: column;
    }

    .headline {
        @include golden-typo(1.6rem);
    }

    header {
        background-position-x: 83%;
    }

    nav {
        display: none;
    }

    .resume li {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .container {
        width: 90vw;
    }

    .section {
        padding: 20vh 1vh;

        h1:first-child {
            line-height: 5rem;
            margin-top: -4.2rem;
        }
    }
}
