$base-font-family: Lato, Arial, sans-serif !default;
$base-font-size: 15px !default;

$title-font-family: "Fira Sans", Georgia, serif !default;

$brand-color: #F1C40F !default;
$background-color: #FEFEFE !default;
$text-color: #4C4C4C !default;
$emphase-color: darken($text-color, 20%) !default;
$border-color: #F0F0F0;
