$base-font-family: Lato, Arial, sans-serif !default;
$base-font-size: 16px !default;

$title-font-family: Raleway, Georgia, serif !default;

$brand-color: #FFCE00 !default;
$background-color: #FEFEFE !default;
$text-color: #122443 !default;
$emphase-color: darken($text-color, 20%) !default;
$border-color: #F0F0F0;

$container-width: 800px;

$phi: 1.618;

@function golden($value) {
    @return $value * $phi;
}

@mixin golden-typo($value) {
    font-size: $value;
    line-height: golden($value);
    margin-bottom: golden($value);
    margin-top: 0;
}
