$base-font-family: Lato, Arial, sans-serif !default;
$base-font-size: 16px !default;

$title-font-family: Avenir, Raleway, Georgia, serif !default;

$brand: #FFCE00 !default;
$light-text: #FEFEFE !default;
$background: #FEFEFE !default;
$dark-text: #122443 !default;
$emphase: darken($dark-text, 20%) !default;

$container-width: 50vw;

$phi: 1.618;

@function golden($value) {
    @return $value * $phi;
}

@mixin golden-typo($value) {
    font-size: $value;
    line-height: golden($value);
    margin-top: 0;
}
