@use "sass:list";

b,
strong,
.emphase,
.emphase * {
  color: darken($primary, 5%) !important;
  font-weight: bolder !important;
}

.title strong,
h2 strong {
  background-color: $primary;
  background: -webkit-linear-gradient(135deg, darken($primary, 7%), $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.is-greater {
  font-weight: 500 !important;
  font-size: 1.25em;
}

.projects-section {
  padding-left: 0;
  padding-right: 0;

  h2 {
    margin-left: list.nth($section-padding, 2);
  }
}

.projects-page {
  .carousel {
    flex-wrap: wrap;

    .column {
      width: 50%;
      margin-bottom: 0;

      @include mobile {
        width: 100%;
      }
    }

    .card {
      display: flex;
      align-items: center;
    }

    .card-image {
      padding: 1rem;
    }
  }
}

$projectCardSize: 350;
$numberOfCards: 9;
.carousel {
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-left: list.nth($section-padding-desktop, 1);
  padding-right: list.nth($section-padding-desktop, 1);

  @include from(#{$projectCardSize * $numberOfCards}px) {
    justify-content: center;
  }

  @include mobile {
    align-items: start !important;
    padding-left: list.nth($section-padding, 2);
    padding-right: list.nth($section-padding, 2);
  }

  > .column {
    flex: 0 0 auto;
    width: #{$projectCardSize}px;
    margin-bottom: 2rem;

    @include mobile {
      width: 300px;
    }
  }
}

ul.resume-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  @extend .columns;

  li {
    margin-top: 5rem;
    position: relative;
    padding-top: 2rem;
    @extend .column;
    @extend .is-6;

    @include mobile {
      flex-basis: auto;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -15px;
      width: 50px;
      height: 6px;
      background-color: $primary;
    }
  }

  h4 {
    margin-bottom: 0;

    & + small + div {
      margin-top: 0.8em;
    }
  }
}

.section-gray {
  background-color: #f1f2f5;
  border-top: 1px solid rgba(18, 36, 67, 0.15);
  border-bottom: 1px solid rgba(18, 36, 67, 0.15);

  @include prefers-scheme(dark) {
    background-color: #292929;
  }
}

.app-stores {
  flex-direction: row;

  @include mobile {
    flex-direction: column;
  }
}

.info-circle {
  cursor: pointer;

  span:first-child {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
  }

  img {
    width: 25px;
    margin-bottom: -8px;
  }
}

main {
  padding-top: $navbar-height;
}

.social-media-list {
  li {
    display: inline-block;
  }
}

@include prefers-scheme(light) {
  .is-dark-mode {
    display: none !important;
  }
}

@include prefers-scheme(dark) {
  // TODO
  .info-circle svg path {
    fill: $primary !important;
  }

  .is-light-mode {
    display: none !important;
  }
}
