@page {
  margin: 0;
}

.resume-page {
  margin: 3rem;
  margin-top: 0;
}

.only-display {
  display: initial;
}

@media print {
  .resume-page {
    max-width: 100%;
  }

  .only-display {
    display: none !important;
  }
}

.resume-page {
  max-width: 700px;

  .title {
    span {
      display: none;
    }

    strong {
      -webkit-text-fill-color: inherit;
      background: transparent;
      color: inherit !important;
    }
  }

  .container {
    width: 100%;
    max-width: 100%;
  }

  .section {
    padding: 0;
  }

  ul.resume-items {
    margin: 0;

    li {
      width: 100%;
      page-break-inside: avoid;
      margin-top: 0;
      padding: 0;
      padding-top: 4rem;

      h4 {
        border-top: 6px solid $primary;
        padding-top: 1rem;
      }

      &::after {
        display: none;
      }
    }
  }

  .contact-me {
    display: none;
  }
}
