b,
strong,
.emphase,
.emphase * {
  color: darken($primary, 5%) !important;
  font-weight: bolder !important;
}

.title strong,
h2 strong {
  background-color: $primary;
  background: -webkit-linear-gradient(135deg, darken($primary, 7%), $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.is-greater {
  font-weight: 500 !important;
  font-size: 1.25em;
}

.skills {
  max-width: 900px;
  margin: 0 auto;
}

$projectCardSize: 350;
.carousel {
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  @include from(#{$projectCardSize * 6}px) {
    justify-content: center;
  }

  @include mobile {
    align-items: start !important;
  }

  .column {
    flex: 0 0 auto;
    width: #{$projectCardSize}px;
    margin-bottom: 2rem;

    @include mobile {
      width: 300px;
    }
  }
}

.resume ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  @extend .columns;

  li {
    margin-top: 5rem;
    position: relative;
    padding-top: 2rem;
    @extend .column;
    @extend .is-6;

    @include mobile {
      flex-basis: auto;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -15px;
      width: 50px;
      height: 6px;
      background-color: $primary;
    }
  }
}

.section-gray {
  background-color: #f1f2f5;
  border-top: 1px solid rgba(18, 36, 67, 0.15);
  border-bottom: 1px solid rgba(18, 36, 67, 0.15);

  @include prefers-scheme(dark) {
    background-color: #292929;
  }
}

footer svg {
  width: 200px;
}

@include prefers-scheme(light) {
  .is-dark-mode {
    display: none !important;
  }
}

@include prefers-scheme(dark) {
  svg path {
    fill: $primary !important;
  }

  .is-light-mode {
    display: none !important;
  }
}
