.button {
  font-weight: bold;
  height: auto;
  transition: background-color ease-in-out 0.2s;
}

.container {
  max-width: $container-width;
}

.section {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.hero-body {
  margin-top: 3rem;

  @include mobile {
    padding-top: 0;
  }
}

svg {
  width: 100%;
}

.navbar-item img {
  max-height: none;
}

.navbar-brand .navbar-item {
  width: 100px;
  padding-right: 2rem;
  padding-top: 0;
  padding-bottom: 0;

  @include desktop {
    padding-left: 0;
  }
}

.navbar-menu {
  box-shadow: none;

  .navbar-item {
    font-weight: bold;
    margin-right: 1rem;
  }
}

.navbar {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: saturate(150%) blur(15px);

  .container {
    padding: $column-gap;
  }
}

.content {
  h1,
  h2 {
    font-weight: initial;
  }

  h1 {
    font-size: 4em;

    @include mobile {
      padding-top: 3rem;
      font-size: 2.5em;
    }
  }

  h2 {
    font-size: 3em;

    @include mobile {
      font-size: 2em;
    }
  }
}

.card {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.03);
  }
}
