@page {
  margin: 0;
}

.only-print {
  display: none;
}

@media print {
  main {
    padding-top: 0;
    margin: 3rem;
  }

  .only-print {
    display: initial;
  }

  .title strong {
    -webkit-background-clip: initial;
    -webkit-text-fill-color: $primary;
    -webkit-box-decoration-break: initial;
    background: transparent;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  .container {
    width: 100%;
    max-width: 100%;
  }

  .section {
    padding: 0;
  }

  .resume {
    ul {
      margin: 0;

      li {
        width: 100%;
        page-break-inside: avoid;
        margin-top: 0;
        padding: 0;
        padding-top: 4rem;

        h4 {
          border-top: 6px solid $primary;
          padding-top: 1rem;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
