$container-width: 1180px;

$input-focus-box-shadow-size: none;
$input-shadow: none;
$input-hover-border-color: none;

$button-border-color: none;
$button-hover-border-color: none;
$button-padding-vertical: 1em;

$text: #122443;
$text-strong: #122443;
$primary: #ffce00;

$link: $primary;
$link-hover: darken(hsl(0, 0%, 29%), 30%);

$navbar-item-hover-background-color: none;
$navbar-background-color: transparent !important;
