---
---

@charset "utf-8";

@import "variables";
@import "bulma";
@import "default";

// only override

small {
    font-size: 0.58em;
}

.resume li {
    @extend .column;
    @extend .is-half-desktop;
    @extend .is-full;
}

.hero {
    justify-content: initial;
    background-color: transparent;
    padding-top: 8rem;
}

.hero-foot {
    margin-top: -5rem;
}

.icon {
    line-height: 20px;
}
