---
---

@charset "utf-8";

@import "variables";
@import "header";
@import "social";

@page {
    margin: 0;
}

.no-print, .no-print * {
    display: none !important;
}

.section {
    padding: 10vh;
}

.resume {
    margin: 0 auto;
    display: table;

    li {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        page-break-inside: avoid;
        margin-top: 0;
        padding-top: 4rem;

        h4 {
            border-top: 6px solid $brand;
            padding-top: 1rem;
        }

        &::after {
            display: none;
        }
    }
}
